{% extends 'index.html' %}
{% load static %}
<style>
</style>
{% block index_text %}
    <h2 class="mb-4">
        <span>CISA Review Questions</span>
    </h2>
    <form action="cisa/quiz" method="GET">
        <div class="form-group">
            <select type="text" class="form-control" id="level">
                <option selected disabled>Select CPA Level</option>
                {% for level in levels %}
                    <option value="{{ level.id }}">{{ level.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group" >
            <select type="text" class="form-control " id="subject" name="subject">
            </select>
        </div>
        <div class="form-group">
            <input type="submit" value="VIEW QUIZZES" class="btn btn-secondary py-3 px-5">
        </div>
    </form>
{% endblock %}
{% block scripts %}
      <script>
        $("select#level").on('change', function () {
            var selectedLevel = $(this).children("option:selected").val();
            $.get("{% url 'get_level_subjects'  %}", {level_id:selectedLevel}, function (data) {
                $("select#subject").children('option:not(:first)').remove();
                $.each(data.subjects, function (i, subject) {
                    $("select#subject").append($('<option>', {value: subject.url, text:subject.code+": "+subject.name}));
                });
            });
        });
    </script>
{% endblock %}