{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section class="ftco-section testimony-section" style="background-image: url({% static 'images/bg_2.jpg' %})">
        <div class="container">
            <div class="row ftco-animate">
                <div class="col-md-6 col-lg-6 col-xl-4">
                    <div class="services-flow">
                        <div class="services-2 p-4 d-flex ftco-animate">
                            <div class="icon">
                                <span><img src="{% static 'images/CPA.jpg' %}" width="80px" height="80px"></span>
                            </div>
                            <div class="text">
                                 <a href="{% url 'cpa' %}" class="active"><h3>CPA</h3></a>
                                <p>Certified Public Accountant</p>
                            </div>
                        </div>
                        <div class="services-2 p-4 d-flex ftco-animate">
                            <div class="icon">
                                <span><img src="{% static 'images/CPA.jpg' %}" width="80px" height="80px"></span>
                            </div>
                            <div class="text">
                                <a href="{% url 'cisa' %}"><h3>CISA</h3></a>
                                <p>Certified Information Systems Auditor</p>
                            </div>
                        </div>
                        <div class="services-2 p-4 d-flex ftco-animate">
                            <div class="icon">
                                <span><img src="{% static 'images/CPA.jpg' %}" width="80px" height="80px"></span>
                            </div>
                            <div class="text">
                                <a href="{% url 'acca' %}"><h3>ACCA</h3></a>
                                <p>Association of Chartered Certified Accountants</p>
                            </div>
                        </div>
                        <div class="services-2 p-4 d-flex ftco-animate">
                            <div class="icon">
                                <span><img src="{% static 'images/CPA.jpg' %}" width="80px" height="80px"></span>
                            </div>
                            <div class="text">
                                <a href="{% url 'cbp' %}"><h3>CBP</h3></a>
                                <p>Certified Business Professional</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-1 d-xl-block d-none"></div>
                <div class="col-md-6 col-lg-6 col-xl-7">
                    <section class="home-slider owl-carousel">
                        <div class="slider-item" data-stellar-background-ratio="0.5">
                            <div class="no-gutters slider-text align-items-center justify-content-end"
                                 data-scrollax-parent="true">
                                <div class="text ftco-animate">
                                    {% block index_text %}
                                        <h1 class="mb-4" >
                                            <span   style="color: #FFFFFF" >Free CPA, CISA, ACCA & CPB Exam questions and answers.</span>
                                        </h1>
                                        <h3 class="subheading"   style="color: #FFFFFF">Prepare for the actual Exam with these realistic practice
                                            questions. When you finish, you will
                                            receive a score that is broken down by topic. You’ll also be able to review
                                            detailed
                                            answer
                                            explanations for both the correct and incorrect answer choices.</h3>
{#                                        <p><a href="#" class="btn btn-secondary px-4 py-3 mt-3">Start Quiz</a></p>#}
                                    {% endblock %}
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
