{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section class="ftco-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-12 col-xl-12">
                    <div class="services-flow">
                        <div class="heading" style="text-align: center">
                            <h2>{{ quiz.title }}</h2>
                        </div>
                        <div class="row">
                            <div class="col-md-3 col-lg-3"></div>
                            <div class="col-md-6 col-lg-6">
                                <table class="table table-bordered">
                                    <tr>
                                        <th>Course</th>
                                        <td>{{ quiz.course }} | {{ quiz.course_level.name }}</td>
                                    </tr>
                                    <tr>
                                        <th>Subject</th>
                                        <td>{{ quiz.subject }}</td>
                                    </tr>
                                    <tr>
                                        <th>Topic</th>
                                        <td>{{ quiz.topic }}</td>
                                    </tr>
                                    <tr>
                                        <th>Pass Mark</th>
                                        <td>{{ quiz.pass_mark }}</td>
                                    </tr>
                                    <tr>
                                        <th>Total Questions</th>
                                        <td>{{ quiz.get_questions.count }}</td>
                                    </tr>
                                    <tr>
                                        <th>Description</th>
                                        <td>{{ quiz.description }}</td>
                                    </tr>
                                </table>
                                <form action="{% url  'quiz_question' quiz.url %}" method="GET">
                                    <button type="submit" class="btn btn-primary">Start Quiz</button>
                                </form>
                            </div>
                            <div class="col-md-3 col-lg-3"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}