{% extends 'base.html' %}
{% load static %}

{% block content %}
    <style>
        {#a {#}
        {#    color: #007bff;#}
        {#    text-decoration: underline;#}
        {#    background-color: transparent;#}
        {#    margin-left: 2px;#}
        {#}#}

        .sidenav {
            width: auto;
            position: relative;
            z-index: 1;
            top: auto;
            left: auto;
            background: #eee;
            overflow-x: hidden;
            padding: 8px 0;
        }

        .sidenav a {
            padding: 6px 8px 6px 16px;
            text-decoration: none;
            color: #2196F3;
            display: block;
        }

        .sidenav a:hover {
            color: #064579;
        }

        a:active {
            color: #791e20;
        }

        @media screen and (max-height: 450px) {
            .sidenav {
                padding-top: 15px;
            }

            .sidenav a {
                font-size: 18px;
            }
        }
    </style>
    <section class="ftco-section">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-lg-3 col-xl-3">
                    <h5>{{ course }} Subjects</h5>
                    <div class="sidenav">
                        {% for subject in subjects %}
                            <a  href="quiz?subject={{ subject.url }}">{{ subject.name }}</a>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-9 col-lg-9 col-xl-9">
                    <div class="services-flow">
                        <h4>{{ subject }}</h4>
                        {% if quizes %}
                            {% for quiz in quizes %}
                                <a href="{% url 'quiz_detail' quiz.url %}"><h6>{{ quiz.title }}</h6></a>

                            {% endfor %}
                        {% else %}
                            <table class="table table-bordered">
                                <tr>
                                    <td><h6>No quizzes for {{ subject }}</h6></a>
                                    </td>
                                </tr>
                            </table>
                            <a class="btn btn-success btn-block" href="{% url 'home' %}">Back to Home Page</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}