{% extends "base.html" %}
{% load i18n %}
{% load quiz_tags %}
{% block content %}
    <section class="ftco-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-12 col-xl-12">
                    <div class="services-flow">
                        {% if previous.answers %}
                            {% include 'correct_answer.html' %}
                            <p><strong>{% trans "Explanation" %}:</strong></p>
                            <div class="well " style="background-color: #fcf8e3;">
                                <p>{{ previous.previous_question.explanation }}</p>
                            </div>
                            <hr>
                        {% endif %}
                        {% if max_score %}
                            <div style="text-align: center;">
                                <h4 style="color: #167e42;">{% trans "Correctly Answered: " %}{{ score }} {% trans "/" %} {{ max_score }}</h4>
                                <h4 style="color: #167e42;">{% trans "Score: " %}{{ percent }} {% trans "%" %}</h4>
                             </div>
                            {% if quiz.pass_mark %}
                                <hr>
                                <p class="lead">{{ sitting.result_message }}</p>
                                    <hr>
                                {% endif %}
                                <p>{% trans "Review the questions below and try the exam again in the future" %}.</p>
                                {% if user.is_authenticated %}
                                    <p>{% trans "The result of this exam will be stored in your progress section so you can review and monitor your progression" %}.</p>
                                {% endif %}

                        {% endif %}
                        <hr>

                        {% if questions %}
                            {% for question in questions %}
                                <p class="lead">
                                    {{ question.content }}
                                </p>
                                {% correct_answer_for_all question %}
                                {% if question.user_answer %}
                                    <p>{% trans "Your answer" %}: {{ question|answer_choice_to_string:question.user_answer }}</p>
                                {% endif %}
                                <p><strong>{% trans "Explanation" %}:</strong></p>
                                <div class="well " style="background-color: #fcf8e3;">
                                    <p>{{ question.explanation|safe }}</p>
                                </div>
                                <hr>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

